body {
    background-color: #05051E;
    color: white;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

.navbar {
    padding: 10px 20px;
}

.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-logo {
    width: 40px;
    height: 40px;
}

.navbar-menu {
    list-style: none;
    display: flex;
    gap: 15px;
}

.navbar-link {
    color: white;
    text-decoration: none;
}

.history-container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #17141D;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: left;
}

.history-container h1 {
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #2e3033;
}

th {
    background-color: #00A8FF; 
    color: white;
}

tr:nth-child(even) {
    background-color: #22252D; 
}

tr:hover {
    background-color: #444851; 
}